drwxr-xr-x   8 cmarkle  staff      256 Dec 11 15:28 .
drwxr-x---+ 73 cmarkle  staff     2336 Dec 11 15:28 ..
-rwxr-xr-x   1 cmarkle  staff  8462234 Dec 11 15:15 as-client-go
-rwxr-xr-x   1 cmarkle  staff  8507291 Aug 29 14:53 as-client-linux
-rwxr-xr-x   1 cmarkle  staff  8462234 Dec  9 16:31 asclient-linux
-rw-r--r--   1 cmarkle  staff      399 Dec 11 15:28 go.mod
-rw-r--r--   1 cmarkle  staff    11821 Oct 17 15:43 go.sum
-rw-r--r--   1 cmarkle  staff    11534 Dec  9 16:28 main.go

asclient-*
as-client*
go.sum
